{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=2">
</head>
<body>
    <header>
        <h1>Farmacia</h1>
        <nav>
            <ul>
                <li><a href="/registro/">Registro</a></li>
                <li><a href="/login/">Ingreso</a></li>
                <li><a href="/inicio/">Inicio</a></li>
                <li><a href="/inventario/">Inventario</a></li>
                <li><a href="/inventario/nuevo/">Nuevo Inventario</a></li>
                <li><a href="/transferencias/">Transferencias</a></li>
                <li><a href="/transferencias/crear/">Generar Transferencia</a></li>
                <li><a href="/productos/">Productos</a></li>
                <li><a href="/facturas/">Facturas</a></li>
                <li><a href="/factura/crear/">Generar Factura</a></li>
            </ul>
        </nav>
    </header>

<main>
    <h1>Bienvenido al Sistema de Farmacias</h1>
    <p class="intro-text">Gracias por usar nuestros servicios, le invitamos a conocer las funcionalidades que ofrece este sistema!!!</p>
</main>

    <footer>
        &copy; 2025 Farmacia. Todos los derechos reservados.
    </footer>
</body>
</html>
